*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: #FE8C45;
    padding: .5rem 1rem;
    border-radius: 30px;
}

.navbar li{
    padding: 0 1rem;
}

.large-text{
    font-size: 2.7rem;
}

p{
    color: #333333;
}

span{
    color: #8A47F6;
}

.carousel-inner{
    height: 90vh;
    & img{
        height: 100%;
    }
}